<!--Header-->
<div>
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 20px">
        <div class="col-md-7">
            <img src="http://materials.cv.uoc.edu/cdocent/common/img/logo-uoc.png" alt="Logo UOC" class="img-responsive" style="margin:20px 0px 0px">
        </div>
        <div class="col-md-5">
            <h1 style="margin:15px 0px 0px;font-size: 40px;">Manipulació de dades amb la llibreria pandas</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #FCB517;padding: 10px 20px;">
        <div class="col-md-6">
            <div>PID_00233252</div>
        </div>
        <div class="col-md-6">
            <div style="text-align:right;">Autor: Xavier Duran Albareda <span style="margin-left: 30px;">Coordinació: Julià Minguillón</span></div>
        </div>
    </div>
</div>
<!--/Header-->

# Introducció

![Pandas](images/pandas_logo.png)

Pandas és un paquet de Python que ens facilita la manipulació i l'anàlisi de dades. Incorpora estructures de dades ràpides i flexibles dissenyades per treballar amb dades relacionals o etiquetades de manera intuitiva.

Pandas ens permet treballar amb diferents tipus de dades:

- Tabulars amb columnes heterogènies, com ara Excels, CSV o taules SQL
- Series temporals, ordenades o no
- Matrius
- Dades estadístiques i observacionals de tot tipus

## Estructures de dades

Les dues estructures de dades que ens ofereix _Pandas_ són les __Series__ i el __DataFrame__.

![Pandas cheat sheet](images/pandas-02.png)

### Series

Les __Series__ són arrays unidimensionals que poden guardar dades de qualsevol tipus, i tenen un índex.

In [11]:
carbon_dioxide_ppm = pd.Series(
    [295, 297, 299, 302, 305, 309, 314, 322, 335, 351, 373, 403],
    index = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]
)
carbon_dioxide_ppm

1900    295
1910    297
1920    299
1930    302
1940    305
1950    309
1960    314
1970    322
1980    335
1990    351
2000    373
2010    403
dtype: int64

### DataFrame

Els  __DataFrame__ són arrays bidimensionals o matrius, indexat per files i per columnes, i que també poden guardar dades de qualsevol tipus. Per exemple, podem crear un DataFrame amb les freqüències dels noms més posats a Catalunya durant el 2016.

Font: [Idescat. Noms dels nadons 2016](https://www.idescat.cat/nadons/)

In [7]:
import pandas as pd

onomastica = {
    'Noms': [
        'Marc',
        'Martina',
        'Àlex/Álex',
        'Júlia/Julia',
        'Laia',
        'Lucía',
        'Maria/María',
        'Jan',
        'Martí',
        'Hugo'
    ],
    'Sexe': ['H', 'D', 'H', 'D', 'D', 'D', 'D', 'H', 'H', 'H'],
    '2016': [832, 702, 656, 649, 582, 573, 566, 562, 557, 553]
}

pd.DataFrame(onomastica, columns = ['Noms', 'Sexe', '2016'])

          Noms Sexe  2016
0         Marc    H   832
1      Martina    D   702
2    Àlex/Álex    H   656
3  Júlia/Julia    D   649
4         Laia    D   582
5        Lucía    D   573
6  Maria/María    D   566
7          Jan    H   562
8        Martí    H   557
9         Hugo    H   553

<!--Footer-->
 <div style="background: #333333;padding: 35px 0px;margin-top: 25px;">
    <div class="row">
     <div class="col-sm-12">
        <img src="http://materials.cv.uoc.edu/cdocent/common/img/logo-uoc-bottom.png" alt="Logo UOC" class="img-responsive" style="margin: 0 auto; display: block;">
    </div>
</div>
</div>
<!--/Footer-->