<!--Header-->
<div>
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 20px">
        <div class="col-md-7">
            <img src="http://materials.cv.uoc.edu/cdocent/common/img/logo-uoc.png" alt="Logo UOC" class="img-responsive" style="margin:20px 0px 0px">
        </div>
        <div class="col-md-5">
            <h1 style="margin:15px 0px 0px;font-size: 40px;">Lectura de fitxers de dades</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #FCB517;padding: 10px 20px;">
        <div class="col-md-6">
            <div>PID_00233252</div>
        </div>
        <div class="col-md-6">
            <div style="text-align:right;">Autor: Xavier Duran Albareda <span style="margin-left: 30px;">Coordinació: Julià Minguillón</span></div>
        </div>
    </div>
</div>
<!--/Header-->

# Introducció

En aquesta activitat veurem com llegir diferents tipus de fitxers (csv, excel, txt, json, xml i zip) i carregar-los en un DataFrame.

## Llegir un fitxer CSV

El fitxer que llegirem correspon al dataset de la competició [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic) de [Kaggle](https://www.kaggle.com/).

[Loading A CSV Into pandas](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/)

In [12]:
import pandas as pd

df = pd.read_csv("data/titanic-train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df.to_csv('data/titanic.csv')

##  Llegir un fitxer Excel

[TMDB 5000 Movie Dataset](https://www.kaggle.com/tmdb/tmdb-movie-metadata)

[Reading and writing Excel files in Python pandas](https://medium.com/@kasiarachuta/reading-and-writingexcel-files-in-python-pandas-8f0da449cc48)

[Excel and Pandas](https://www.dataquest.io/blog/excel-and-pandas/)

In [14]:
xls_file = pd.read_excel('data/movies.xls')
xls_file

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0
5,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36.0,6.3
6,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35.0,7.8
7,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42.0,6.6
8,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65.0,7.7
9,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35.0,6.5
10,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124.0,8.2
11,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66.0,7.8
12,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120.0,8.6
13,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24.0,7.1
14,Snow White and the Seven Dwarfs,1937,Animation|Family|Fantasy|Musical,English,USA,Approved,83,1.37,2000000.0,184925485.0,...,82,47,31.0,229,0,1,133348,204,145.0,7.7
15,The Prisoner of Zenda,1937,Adventure|Drama|Romance,English,USA,Approved,101,1.37,NaN,NaN,...,490,185,135.0,1166,337,2,3256,44,7.0,7.8
16,Alexander's Ragtime Band,1938,Drama|Musical|Romance,English,USA,Approved,106,1.37,2000000.0,NaN,...,480,392,300.0,1833,60,2,1381,29,10.0,7.0
17,You Can't Take It with You,1938,Comedy|Drama|Romance,English,USA,Approved,126,1.37,1644736.0,NaN,...,319,302,275.0,1363,0,10,17799,133,51.0,8.0
18,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157.0,8.2
19,Mr. Smith Goes to Washington,1939,Comedy|Drama,English,USA,Not Rated,120,1.37,1500000.0,NaN,...,607,319,248.0,1573,0,7,77392,245,96.0,8.2
20,The Wizard of Oz,1939,Adventure|Family|Fantasy|Musical,English,USA,Passed,102,1.37,2800000.0,22202612.0,...,695,421,357.0,2509,14000,3,291875,533,213.0,8.1
21,Boom Town,1940,Adventure|Drama|Romance|Western,English,USA,Passed,119,1.37,1614000.0,NaN,...,1000,760,380.0,2555,236,8,2269,34,12.0,7.1
22,Fantasia,1940,Animation|Family|Fantasy|Music,English,USA,G,120,1.37,2280000.0,76400000.0,...,16,0,NaN,16,3000,0,71321,230,99.0,7.8
23,Pinocchio,1940,Animation|Family|Fantasy|Musical,English,USA,Approved,88,1.37,2600000.0,84300000.0,...,1000,48,40.0,1178,0,0,90360,147,105.0,7.5
24,Rebecca,1940,Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,130,1.37,1288000.0,NaN,...,1000,991,333.0,2888,0,2,87424,276,144.0,8.2
25,The Blue Bird,1940,Drama|Family|Fantasy,English,USA,Approved,83,1.37,NaN,NaN,...,94,62,51.0,293,548,1,1047,25,7.0,6.5
26,How Green Was My Valley,1941,Drama|Family,English,USA,Approved,118,1.37,1250000.0,NaN,...,595,176,137.0,1129,0,5,15840,124,74.0,7.8
27,Bambi,1942,Animation|Drama|Family,English,USA,Approved,70,1.33,NaN,102797150.0,...,16,12,8.0,63,0,0,94225,136,116.0,7.4
28,Casablanca,1942,Drama|Romance|War,English,USA,PG,82,1.37,950000.0,NaN,...,2000,607,269.0,3442,23000,4,387508,1123,242.0,8.6
29,A Guy Named Joe,1943,Drama|Fantasy|Romance|War,English,USA,Passed,122,1.37,2627000.0,NaN,...,760,675,315.0,2555,116,0,1553,27,9.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,The Limey,1999,Crime|Drama|Mystery|Thriller,English,USA,R,89,1.85,9000000.0,3193102.0,...,402,296,132.0,1335,944,0,24412,240,111.0,7.1
1309,The Loss of Sexual Innocence,1999,Drama,English,USA,R,106,1.78,4000000.0,399793.0,...,2000,811,687.0,4343,111,0,2877,70,31.0,5.4
1310,The Matrix,1999,Action|Sci-Fi,English,USA,R,136,2.35,63000000.0,171383253.0,...,18000,145,99.0,18563,25000,3,1217752,3646,313.0,8.7
1311,The Messenger: The Story of Joan of Arc,1999,Adventure|Biography|Drama|History|War,English,France,R,158,2.35,390000000.0,14131298.0,...,51,40,15.0,144,0,0,55889,390,111.0,6.4
1312,The Muse,1999,Comedy,English,USA,PG-13,97,1.37,15000000.0,11614236.0,...,12000,821,745.0,15209,251,2,9294,140,97.0,5.6
1313,The Ninth Gate,1999,Mystery|Thriller,English,Spain,R,133,2.35,38000000.0,18653746.0,...,40000,903,541.0,42344,0,1,137722,638,172.0,6.7
1314,The Omega Code,1999,Action|Adventure|Fantasy|Sci-Fi|Thriller,English,USA,PG-13,100,1.37,7500000.0,12610552.0,...,488,488,440.0,2428,129,0,4682,206,39.0,3.5
1315,The Out-of-Towners,1999,Comedy,English,USA,PG-13,90,1.85,40000000.0,28535768.0,...,607,322,210.0,1335,279,2,10446,105,62.0,5.3
1316,The Rage: Carrie 2,1999,Horror|Sci-Fi|Thriller,English,USA,R,104,1.85,21000000.0,17757087.0,...,711,490,484.0,3162,897,1,13065,253,85.0,4.6
1317,The Sixth Sense,1999,Drama|Mystery|Thriller,English,USA,PG-13,107,1.85,40000000.0,293501675.0,...,13000,3000,766.0,17540,14000,0,704766,2073,234.0,8.1
1318,The Story of Us,1999,Comedy|Drama|Romance,English,USA,R,95,1.85,50000000.0,27067160.0,...,13000,559,323.0,14706,0,1,18404,150,99.0,5.9
1319,The Straight Story,1999,Biography|Drama,English,France,G,112,2.35,10000000.0,6197866.0,...,874,262,201.0,1351,0,0,63733,414,143.0,8.0
1320,The Talented Mr. Ripley,1999,Crime|Drama|Thriller,English,USA,R,139,1.85,40000000.0,81292135.0,...,22000,13000,1000.0,36810,0,1,137891,696,203.0,7.3
1321,The Thirteenth Floor,1999,Mystery|Sci-Fi|Thriller,English,Germany,R,100,2.35,16000000.0,15500000.0,...,599,380,363.0,2389,0,0,51996,302,111.0,7.0
1322,The Thomas Crown Affair,1999,Crime|Romance|Thriller,English,USA,R,113,2.35,48000000.0,69304264.0,...,1000,977,835.0,4660,0,0,73068,419,152.0,6.8
1323,The Virgin Suicides,1999,Drama|Romance,English,USA,R,90,1.85,6000000.0,4859475.0,...,4000,899,826.0,7103,0,0,116910,520,152.0,7.2
1324,The Woman Chaser,1999,Comedy,English,USA,NaN,88,NaN,1200000.0,110720.0,...,142,23,3.0,168,73,0,524,22,18.0,7.3
1325,The Wood,1999,Comedy|Drama|Romance,English,USA,R,106,1.85,6000000.0,25047631.0,...,865,405,328.0,2724,990,0,6585,50,18.0,6.9
1326,The World Is Not Enough,1999,Action|Adventure|Thriller,English,UK,PG-13,128,2.35,135000000.0,126930660.0,...,766,536,244.0,2037,2000,2,157519,683,197.0,6.4
1327,Three Kings,1999,Action|Adventure|Comedy|Drama|War,English,USA,R,114,2.35,48000000.0,60652036.0,...,2000,490,393.0,3743,3000,1,137854,560,150.0,7.1
1328,Three to Tango,1999,Comedy|Romance,English,Australia,PG-13,98,1.37,20000000.0,10544143.0,...,2000,1000,677.0,4843,311,2,16372,121,81.0,6.1
1329,Topsy-Turvy,1999,Biography|Comedy|Drama|History|Music|Musical,English,UK,R,154,1.66,10000000.0,6201757.0,...,1000,452,149.0,1690,608,1,10037,202,103.0,7.4
1330,Toy Story 2,1999,Adventure|Animation|Comedy|Family|Fantasy,English,USA,G,82,1.85,90000000.0,245823397.0,...,15000,1000,967.0,21275,0,2,385871,515,191.0,7.9
1331,Trippin',1999,Comedy,English,USA,R,94,1.85,NaN,9016377.0,...,927,209,200.0,1936,143,3,1004,8,16.0,5.2
1332,Tumbleweeds,1999,Comedy|Drama,English,USA,PG-13,102,1.85,312000.0,1281176.0,...,409,277,276.0,1986,121,1,2932,73,64.0,6.7
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [15]:
xls_file = pd.read_excel('data/movies.xls', sheet_name='2010s')
xls_file

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,11000.0,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,795.0,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,NaN,59774.0,...,24.0,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,191.0,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,NaN,NaN,...,783.0,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1
5,Alice in Wonderland,2010.0,Adventure|Family|Fantasy,English,USA,PG,108.0,1.85,200000000.0,334185206.0,...,40000.0,25000.0,11000.0,79957,24000,0.0,306320,736.0,451.0,6.5
6,Alice in Wonderland,2010.0,Adventure|Family|Fantasy,English,USA,PG,108.0,1.85,200000000.0,334185206.0,...,40000.0,25000.0,11000.0,79957,24000,0.0,306336,736.0,451.0,6.5
7,All Good Things,2010.0,Crime|Drama|Mystery|Romance|Thriller,English,USA,R,101.0,1.85,NaN,578382.0,...,33000.0,4000.0,902.0,39515,0,2.0,41249,67.0,140.0,6.3
8,Alpha and Omega,2010.0,Adventure|Animation|Comedy|Family|Romance,English,USA,PG,90.0,1.85,20000000.0,25077977.0,...,681.0,611.0,518.0,2486,0,0.0,10986,84.0,84.0,5.3
9,Amigo,2010.0,Drama|War,English,USA,R,124.0,NaN,1700000.0,183490.0,...,38.0,8.0,7.0,60,594,0.0,463,8.0,35.0,5.8
10,Anderson's Cross,2010.0,Comedy|Drama|Romance,English,USA,R,98.0,NaN,300000.0,NaN,...,500.0,317.0,248.0,1545,7,7.0,95,7.0,8.0,7.2
11,Animals United,2010.0,Animation|Comedy|Family,German,Germany,PG,93.0,2.39,NaN,NaN,...,1000.0,898.0,480.0,3095,885,0.0,4599,44.0,36.0,4.9
12,Another Year,2010.0,Comedy|Drama,English,UK,PG-13,129.0,2.35,10000000.0,3205244.0,...,1000.0,579.0,386.0,2265,0,0.0,23629,141.0,248.0,7.3
13,Barney's Version,2010.0,Comedy|Drama,English,Canada,R,134.0,2.35,NaN,7501404.0,...,891.0,460.0,329.0,1873,0,2.0,21086,87.0,193.0,7.3
14,Barry Munday,2010.0,Comedy|Drama|Romance,English,USA,R,95.0,1.85,NaN,NaN,...,2000.0,536.0,463.0,3648,480,2.0,3443,20.0,34.0,5.9
15,Beginners,2010.0,Comedy|Drama|Romance,English,USA,R,105.0,1.85,3200000.0,5776314.0,...,1000.0,394.0,157.0,2016,15000,4.0,73349,142.0,261.0,7.2
16,Beneath Hill 60,2010.0,Drama|History|War,English,Australia,R,122.0,2.35,9000000.0,NaN,...,174.0,109.0,59.0,498,0,12.0,5741,39.0,17.0,7.1
17,Beyond the Black Rainbow,2010.0,Sci-Fi|Thriller,English,Canada,R,110.0,2.35,1100000.0,56129.0,...,434.0,95.0,48.0,645,0,1.0,6555,82.0,97.0,6.1
18,Biutiful,2010.0,Drama,Spanish,Mexico,R,148.0,2.35,NaN,5100937.0,...,30.0,9.0,7.0,50,29000,0.0,68885,127.0,288.0,7.5
19,Black Swan,2010.0,Drama|Thriller,English,USA,R,108.0,2.35,13000000.0,106952327.0,...,20000.0,15000.0,1000.0,38072,106000,1.0,551363,1140.0,669.0,8.0
20,Blood Done Sign My Name,2010.0,Drama,English,USA,PG-13,128.0,2.35,NaN,82739.0,...,665.0,664.0,553.0,4579,503,0.0,465,3.0,20.0,6.7
21,Blue Valentine,2010.0,Drama|Romance,English,USA,R,112.0,1.66,3500000.0,9701559.0,...,33000.0,2000.0,616.0,35941,25000,0.0,141425,283.0,377.0,7.4
22,Brighton Rock,2010.0,Crime|Drama|Thriller,English,UK,R,111.0,2.35,12000000.0,NaN,...,845.0,641.0,405.0,3117,0,2.0,5013,59.0,136.0,5.7
23,Buried,2010.0,Drama|Mystery|Thriller,English,Spain,R,95.0,2.35,3000000.0,1028658.0,...,16000.0,517.0,263.0,17471,24000,0.0,118684,447.0,363.0,7.0
24,Burlesque,2010.0,Drama|Music|Musical|Romance,English,USA,PG-13,119.0,2.35,55000000.0,39440655.0,...,2000.0,828.0,676.0,4315,19000,1.0,61680,222.0,197.0,6.4
25,Ca$h,2010.0,Comedy|Crime|Thriller,English,USA,R,118.0,1.85,7000000.0,46451.0,...,26000.0,854.0,410.0,27756,694,2.0,7663,38.0,27.0,6.0
26,Casino Jack,2010.0,Biography|Comedy|Crime|Drama,English,Canada,R,108.0,2.35,15000000.0,1039869.0,...,18000.0,322.0,168.0,18739,0,5.0,14757,51.0,117.0,6.2
27,Cats & Dogs: The Revenge of Kitty Galore,2010.0,Action|Comedy|Family|Fantasy,English,USA,PG,82.0,1.85,85000000.0,43575716.0,...,975.0,760.0,615.0,3326,0,0.0,10233,63.0,91.0,4.3
28,Centurion,2010.0,Action|Adventure|Drama|History|Thriller|War,English,UK,R,97.0,2.35,NaN,122288.0,...,13000.0,794.0,570.0,15293,0,0.0,64777,201.0,195.0,6.4
29,Charlie St. Cloud,2010.0,Drama|Fantasy|Romance,English,USA,PG-13,99.0,2.35,44000000.0,31136950.0,...,405.0,268.0,135.0,1066,0,1.0,47364,75.0,117.0,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,The Bold and the Beautiful,NaN,Drama|Romance,English,USA,TV-14,30.0,1.78,NaN,NaN,...,177.0,170.0,140.0,639,748,0.0,5478,54.0,1.0,3.5
1575,The Border,NaN,Action|Crime|Drama|Thriller,Polish,Poland,NaN,41.0,NaN,NaN,NaN,...,70.0,2.0,2.0,74,64,4.0,271,2.0,1.0,7.4
1576,The Company,NaN,Drama|History|Thriller,English,USA,NaN,286.0,1.78,NaN,NaN,...,857.0,555.0,527.0,3809,733,3.0,3828,39.0,9.0,7.9
1577,The Dead Zone,NaN,Drama|Fantasy|Mystery|Sci-Fi,English,Canada,TV-14,60.0,NaN,NaN,NaN,...,443.0,319.0,186.0,981,576,1.0,7122,77.0,18.0,7.5
1578,The Doombolt Chase,NaN,Drama|Family,English,UK,NaN,30.0,NaN,NaN,NaN,...,310.0,11.0,9.0,344,0,4.0,18,NaN,NaN,7.2
1579,The Family,NaN,Drama|Mystery,English,USA,TV-PG,60.0,16.00,NaN,NaN,...,971.0,805.0,468.0,3295,0,4.0,3322,30.0,9.0,7.5
1580,The Following,NaN,Crime|Drama|Mystery|Thriller,English,USA,TV-14,43.0,16.00,NaN,NaN,...,841.0,593.0,319.0,1753,32000,1.0,73839,359.0,43.0,7.5
1581,The Girlfriend Experience,NaN,Drama,English,USA,TV-MA,27.0,NaN,NaN,NaN,...,934.0,691.0,201.0,1961,632,0.0,3282,17.0,19.0,7.3
1582,The Grand,NaN,Drama,English,UK,NaN,60.0,1.33,NaN,NaN,...,40.0,37.0,23.0,158,450,0.0,437,20.0,4.0,7.6
1583,The Honeymooners,NaN,Comedy|Family,English,USA,NaN,30.0,1.33,NaN,NaN,...,491.0,154.0,94.0,812,459,4.0,3446,31.0,15.0,8.7
1584,The Inbetweeners,NaN,Comedy|Romance,English,UK,TV-14,25.0,16.00,NaN,NaN,...,229.0,223.0,220.0,1239,0,0.0,55987,42.0,15.0,8.4
1585,The Messengers,NaN,Drama|Fantasy|Mystery|Thriller,English,USA,NaN,60.0,16.00,NaN,NaN,...,1000.0,921.0,762.0,4561,0,0.0,7210,57.0,3.0,6.6
1586,The Missing,NaN,Crime|Drama|Mystery,English,UK,NaN,60.0,NaN,NaN,NaN,...,1000.0,773.0,575.0,3537,0,0.0,8739,28.0,14.0,8.1
1587,The O.C.,NaN,Comedy|Drama|Romance,English,USA,TV-PG,44.0,1.78,NaN,NaN,...,828.0,787.0,650.0,2546,0,8.0,65785,281.0,20.0,7.5
1588,The Player,NaN,Action|Crime|Drama|Thriller,English,USA,TV-14,60.0,16.00,NaN,NaN,...,666.0,579.0,460.0,4043,0,2.0,5817,25.0,9.0,7.1
1589,The Powerpuff Girls,NaN,Action|Animation|Comedy|Family|Fantasy|Sci-Fi,English,USA,TV-Y7,30.0,4.00,NaN,NaN,...,971.0,918.0,265.0,2346,581,0.0,23664,60.0,7.0,7.2
1590,The Returned,NaN,Drama|Fantasy|Horror|Mystery,French,France,TV-MA,52.0,16.00,NaN,NaN,...,164.0,116.0,114.0,654,17000,9.0,15762,47.0,23.0,8.3
1591,The Secret,NaN,Drama|Thriller,English,UK,NaN,45.0,NaN,NaN,NaN,...,773.0,133.0,119.0,1393,405,3.0,653,4.0,1.0,7.3
1592,The Streets of San Francisco,NaN,Action|Crime|Drama|Mystery,English,USA,NaN,120.0,4.00,NaN,NaN,...,416.0,0.0,NaN,416,533,0.0,3405,13.0,13.0,7.3
1593,Towering Inferno,NaN,Comedy,English,Canada,NaN,65.0,1.33,NaN,NaN,...,770.0,179.0,176.0,1125,0,2.0,10,NaN,NaN,9.5
1594,Trapped,NaN,Crime|Drama|Thriller,Icelandic,Iceland,NaN,511.0,16.00,NaN,NaN,...,147.0,63.0,51.0,307,0,0.0,2308,19.0,16.0,8.2
1595,Twisted,NaN,Drama|Mystery|Thriller,English,USA,NaN,60.0,16.00,NaN,NaN,...,629.0,512.0,398.0,2758,915,2.0,7945,22.0,4.0,7.5
1596,Unforgettable,NaN,Drama|Mystery,NaN,USA,NaN,60.0,NaN,NaN,NaN,...,654.0,426.0,405.0,1906,0,1.0,12854,44.0,14.0,6.7
1597,Unforgotten,NaN,Crime|Drama,English,UK,NaN,45.0,NaN,NaN,NaN,...,416.0,171.0,132.0,1816,0,2.0,1824,9.0,2.0,7.9
1598,Veronica Mars,NaN,Crime|Drama|Mystery,English,USA,TV-14,44.0,1.78,NaN,NaN,...,937.0,828.0,724.0,3318,0,1.0,55524,315.0,47.0,8.4
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16.00,NaN,NaN,...,1000.0,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,1.33,NaN,NaN,...,685.0,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2.00,NaN,NaN,...,511.0,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,27000.0,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,0.0,NaN,NaN,0,124,0.0,12417,51.0,6.0,7.0

In [9]:
xls_file.to_excel('data/movies_2010.xlsx', index=False)

## Llegir un fitxer JSON

[Dictionary of American Regional English (DAREDS)](https://www.kaggle.com/rtatman/dictionary-of-american-regional-english-dareds/data)

[Pandas JSON](https://hayd.github.io/2013/pandas-json)

In [1]:
import pandas as pd

df = pd.read_json('data/pandas_issues.json')
df.head(10)

,assignee,assignees,author_association,body,closed_at,comments,comments_url,created_at,events_url,html_url,...,locked,milestone,number,pull_request,repository_url,state,title,updated_at,url,user
0,NaN,[],OWNER,This adds the matplotlib.sphinxext.plot_direct...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-06 15:20:53,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/20015,...,False,None,20015,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,DOC: enable matplotlib plot_directive to inclu...,2018-03-06 15:21:59,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jorisvandenbossche', 'id': 1020496,..."
1,NaN,[],CONTRIBUTOR,"xref #18614 \r\n\r\n- [ ] remove the classes,...",NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2018-03-06 11:40:05,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20014,...,False,{'url': 'https://api.github.com/repos/pandas-d...,20014,NaN,https://api.github.com/repos/pandas-dev/pandas,open,CLN: followons to refactor of series/test_inde...,2018-03-06 12:14:41,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jreback', 'id': 953992, 'avatar_url..."
2,NaN,[],NONE,"#### Code Sample, a copy-pastable example if p...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-06 11:22:54,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20012,...,False,None,20012,NaN,https://api.github.com/repos/pandas-dev/pandas,open,Center rolling window with date NotImplemented...,2018-03-06 11:22:54,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'weber-s', 'id': 25247745, 'avatar_u..."
3,NaN,[],CONTRIBUTOR,```\r\npandas/tests/frame/test_operators.py::T...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-06 11:03:58,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20011,...,False,{'url': 'https://api.github.com/repos/pandas-d...,20011,NaN,https://api.github.com/repos/pandas-dev/pandas,open,WARN: numpy warnings on operations,2018-03-06 11:06:37,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jreback', 'id': 953992, 'avatar_url..."
4,NaN,[],CONTRIBUTOR,"#### Code Sample, a copy-pastable example if p...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-06 00:24:20,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20008,...,False,None,20008,NaN,https://api.github.com/repos/pandas-dev/pandas,open,to_latex shifts column names if MultiIndex con...,2018-03-06 08:23:49,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'toobaz', 'id': 1224492, 'avatar_url..."
5,NaN,[],CONTRIBUTOR,This is a reopening of https://github.com/pand...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-05 23:27:54,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20007,...,False,None,20007,NaN,https://api.github.com/repos/pandas-dev/pandas,open,Default value for missing values on merge,2018-03-05 23:27:54,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Pastafarianist', 'id': 1315874, 'av..."
6,NaN,[],CONTRIBUTOR,,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2018-03-05 21:57:28,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/20004,...,False,None,20004,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,DOC: Add `Series` type to `to_sql` docstring,2018-03-05 23:51:22,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'gcbeltramini', 'id': 9801748, 'avat..."
7,NaN,[],CONTRIBUTOR,#### Problem description\r\n\r\nFor long serie...,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2018-03-05 21:53:11,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20003,...,False,{'url': 'https://api.github.com/repos/pandas-d...,20003,NaN,https://api.github.com/repos/pandas-dev/pandas,open,PERF: isin() is slower for categorical data th...,2018-03-05 23:00:37,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'vfilimonov', 'id': 1324881, 'avatar..."
8,NaN,[],NONE,"#### Code Sample, a copy-pastable example if p...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2018-03-05 21:49:56,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/20002,...,False,None,20002,NaN,https://api.github.com/repos/pandas-dev/pandas,open,Splitting blank string causes exception,2018-03-05 21:55:42,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'montanalow', 'id': 276125, 'avatar_..."
9,NaN,[],CONTRIBUTOR,- [x] closes #19699\r\n- [x] tests added / pas...,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2018-03-05 20:01:24,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/20000,...,False,None,20000,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,API: allow list-like y argument to df.plot,2018-03-05 23:27:07,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'MasonGallo', 'id': 4913951, 'avatar..."

In [2]:
df.to_json('output/pandas_issues.json')

## Llegir un fitxer XML

[Ten thousand books, one million ratings. Also books marked to read, and tags](https://www.kaggle.com/zygmunt/goodbooks-10k)

In [17]:
import xml.etree.ElementTree as ET

tree = ET.parse('data/sample_book.xml')
root = tree.getroot()
root.tag

'GoodreadsResponse'

## Llegir un fitxer zip

In [21]:
pd.read_csv('data/titanic-train.csv.zip', compression='infer')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [23]:
import zipfile

zf = zipfile.ZipFile('data/titanic-train.csv.zip')
df = pd.read_csv(zf.open('titanic-train.csv'))
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<!--Footer-->
 <div style="background: #333333;padding: 35px 0px;margin-top: 25px;">
    <div class="row">
     <div class="col-sm-12">
        <img src="shttp://materials.cv.uoc.edu/cdocent/common/img/logo-uoc-bottom.png" alt="Logo UOC" class="img-responsive" style="margin: 0 auto; display: block;">
    </div>
</div>
</div>
<!--/Footer-->